.Products .bg-light {
  background-color: #ffffff !important;
  border-bottom: solid 1px rgba(0, 40, 100, 0.12) !important;
}
.Products .navbar-light .navbar-brand {
  color: #4a4a4a;
}
.Products .navbar-light .btn-primary {
  color: #fff;
  background-color: #467fcf;
  border-color: #467fcf;
}
.Products .list .card {
  margin-top: 50px;
}
.Products .price {
  margin-bottom: 0;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #495057;
  font-size: 14px;
  font-weight: 600;
}
.Products .list p.name {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: #495057;
  font-weight: 300;
}
.Products .list .bord {
  border-bottom: solid 1px rgba(0, 40, 100, 0.12);
  margin-left: 0;
  margin-right: 0;
}
.Products .list .bord:hover {
  background: #f8f9fa !important;
}
.modal-header {
  border-bottom: none !important;
}
.modal-header .close {
  font-weight: 300;
}
.modal-title {
  color: #495057 !important;
}
.modal-content {
  width: 700px !important;
  right: 100px;
  top: 70px;
  padding: 20px;
}
.input-group > .custom-file {
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
}
.confirm {
  margin-top: 50px;
  margin-bottom: 50px;
}
input:focus {
    box-shadow: none!important;
}
textarea:focus {
    box-shadow: none!important;
}
.confirm .btn-primary{
    background-color: #467fcf;
    border-color: #467fcf;
}
 label {
    color: #495057;;
}
.Products .activating{
  height: 50%;
  position: relative;
}
.Products .activating .loading {
  margin-top: 25%;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 500px;
  bottom: 0; */
}

/* exrtra small screens */
@media screen and (max-width: 576px) {
  .modal-content {
    width: 100% !important;
    right: 0px;
    top: 70px;
    padding: 20px;
  }
}

/* Small screens */
@media screen and (min-device-width: 576px) and (max-device-width:767px) {
  .modal-content {
    width: 100% !important;
    right: 0px;
    top: 70px;
    padding: 20px;
  }
}